## Project
.pytest_cache/
.idea/
.vscode/
cluster/
figures/
logs/
checkpoints/
**/wandb
# data, it's symlink, but allow folders called data in src */
data/
data
!src/**/data

## IDE


#Python
**/__pycache__/
**/.ipynb_checkpoints/
.python-version
.pytest_cache
