## Project
# If data is symlinked it will be a file
/data
logs/
scripts/latest.ckpt
**/wandb
figures/
/hsl

## IDE
.idea/
.vscode/

#Python
**/__pycache__/
**/.ipynb_checkpoints/
.python-version
.pytest_cache


scripts/run.sh
